afl-analyze
afl-as
afl-clang
afl-clang++
afl-fuzz
afl-g++
afl-gcc
afl-gotcpu
afl-showmap
afl-tmin
as


**/*.o
*~
**/nsga2/nsga2r
**/nsga2/*.out
.vscode
OUT
__pycache__/
*.data
afl_out*
t
**/.vscode
**/R/file*.data
OUT*
**/R/*.pdf
nsga2r
**/output
**/*.log
**/MINDIR*